@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
	list-style:none;
	font-size:12px;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
}
#container {
		width:1003px;
		margin:0 auto;
}
#container #nr {
	width:983px;
	margin:0 auto;
}
#container #top {
	height:60px;
	border-bottom:2px solid #000099;
}
#top h1 {
	display:block;
	line-height:60px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
}

#footer {
	width:983px;
	height:99px;
}
#footer .foot {
	width:983px;
	float:left;
	height:18px;
	border-bottom:2px solid #000099;
	display:inline;
}
#footer .ft {
	width:983px;
	margin:0 auto;
	height:99px;
}
.ft img {
	margin-top:22px;
}
#footer .ztu {
	width:200px;
	float:left;
	display:inline;
}
#footer .page {
	width:540px;
	float:left;
	display:inline;
}
.page p {
	padding-top:60px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}
#footer .foot .lanst {
	float:left;
	width:610px;
	display:block;
}
.lanstk {
	display:block;
	width:160px;
	height:18px;
	background: url(../images/bg1.jpg) no-repeat 0 0;
	color:#fff;
	text-align:center;
	float:left;
	font-size:12px;
}
.clear {
	clear:both;
}
.lst .ll {
	width:160px;
	float:left;
}
.ll .s {
	height:4px;
	background:url(../images/lus.jpg) no-repeat 0 0;
	overflow:hidden;
}
.ll .z {
	background:#33434c;
	color:#FFF;
	text-align:center;
	font-size:10px;
}
.ll .x {
	background:url(../images/lux.jpg) no-repeat 0 0;
	width:160px;
	height:4px;
}
#footer .ylogo {
	width:173px;
	height:55px;
	display:inline;
	padding-top:2px;
	float:left;
}
.ylogo img {
	padding-left:53px;
}
.clear {
	clear:both;
}
/*--第一页--*/
.bt {
	background:#000;
}
.bt td {
	background:#FFF;
	font-size:20px;
	font-weight:bold;
}
.tab {
	background:#000;
	font-size:8px;
}
.tab td{
	background:#fff;
	width:20px;
}
.tab .a {
	background:#ffffc0;
	text-align:center;
}
.tab .kkk p {
	font-size:8px;
	overflow:hidden;
}
.tab p {
	font-size:8px;
}
.tiao {
	width:630px;
	background:#033;
	overflow:hidden;
}
#content {
	margin:80px auto;
}
/*--第二页--*/
.db td{
	font-size:12px;
}
.xb td {
	font-size:16px;
	font-weight:bold;
}
.x {
	border-bottom:4px solid #000;
}
.line {
	border-bottom:3px solid #7f7f7f;
	margin-top:2px;
}
.lst .lanse {
	width:310px;
	height:39px;
	background:#aed4f8;
}
.lst .lansez {
	width:310px;
	height:39px;
	background:#8994a0;
	margin-left:80px;
}
.lst .lanses {
	width:310px;
	height:39px;
	background:#00235a;
	margin-left:130px;
	float:left;
	display:inline;
}
.lst .lansess {
	width:110px;
	float:left;
	height:39px;
	background:#91afff;
}
.clear {
	clear:both;
}
.lst .lansea {
	width:230px;
	height:39px;
	background:#aed4f8;
	margin-left:380px;
}
.lst .lanseza {
	width:250px;
	height:39px;
	background:#8994a0;
	margin-left:450px;
}
.lst .lansesa {
	width:200px;
	height:39px;
	background:#00235a;
	margin-left:520px;
	float:left;
	display:inline;
}
.lst .lansessa {
	width:110px;
	float:left;
	height:39px;
	background:#91afff;
	display:inline;
}
/*--第三页--*/
.zp {
	background:#000;
	margin:0 auto;
	width:907px;
}
.zp span {
	text-decoration: underline;
}
.zp td{
	background:#fff;
	line-height:15px;
}
.one{
	border-right:1px solid #000;
}
.two{
	border-right:1px solid #000;
	border-bottom:1px solid #000;
}
.three {
	border-bottom:1px solid #000;
}
.three span {
	text-decoration: underline;
}
.hd {
	background:#000;
	border-bottom:1px solid #000;
}
.hd td{
	background:#fff;
	border-right:1px solid #000;
}
