HTML {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
BODY {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
OBJECT {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
IFRAME {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
CODE {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
ADDRESS {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
CAPTION {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
CITE {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
CODE {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
EM {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
I {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
INS {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
UL {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
DL {
	LIST-STYLE-TYPE: none
}
DT {
	LIST-STYLE-TYPE: none
}
DD {
	LIST-STYLE-TYPE: none
}
FIELDSET {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
BODY {
	FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND: #fff
}
A:link {
	COLOR: #333; TEXT-DECORATION: none
}
A:visited {
	COLOR: #800080; TEXT-DECORATION: none
}
A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
A:active {
	COLOR: #f00
}
H3 A:visited {
	COLOR: #333 !important
}
.wrap {
	MARGIN: 0px auto; WIDTH: 950px; OVERFLOW: hidden
}
.clearfix {
	ZOOM: 1; CLEAR: both
}
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 0px; CONTENT: ' '
}
.products LI:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 0px; CONTENT: ' '
}
.clearb {
	DISPLAY: block; CLEAR: both
}
.footer {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; LINE-HEIGHT: 25px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #333; PADDING-TOP: 10px
}
.footer A {
	MARGIN: auto 5px
}
.subfootb INPUT.btn_so {
	BACKGROUND: url(http://i0.sinaimg.cn/qc/xiwenxin/0927tu/h_norepeat.png) no-repeat
}
.subfootb H2 {
	BACKGROUND: url(http://i1.sinaimg.cn/qc/xiwenxin/0927tu/sub.png) no-repeat
}
.subfootb {
	BACKGROUND: url(http://i2.sinaimg.cn/qc/xiwenxin/0927tu/h_repeat_x.png) repeat-x
}
.subfootb {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; BACKGROUND-POSITION: 0px -557px; HEIGHT: 47px; BORDER-TOP: #ddd 1px; BORDER-RIGHT: #ddd 1px solid
}
.subfootb P {
	TEXT-ALIGN: right; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.subfootb P INPUT {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; FLOAT: left; COLOR: #333; BORDER-TOP: #ccc 1px solid; MARGIN-RIGHT: 2px; BORDER-RIGHT: #ccc 1px solid
}
.subfootb P SELECT {
	LINE-HEIGHT: 23px; MARGIN-TOP: 1px; FLOAT: left; HEIGHT: 23px; _margin-top: 1px
}
.navkso P SELECT {
	LINE-HEIGHT: 23px; MARGIN-TOP: 1px; FLOAT: left; HEIGHT: 23px; _margin-top: 1px
}
.subfootb P INPUT.intext {
	BORDER-BOTTOM: #cdcdcf 1px solid; BORDER-LEFT: #cdcdcf 1px solid; TEXT-INDENT: 5px; WIDTH: 120px; HEIGHT: 17px; MARGIN-LEFT: 12px; BORDER-TOP: #cdcdcf 1px solid; BORDER-RIGHT: #cdcdcf 1px solid; PADDING-TOP: 4px
}
.navkso P INPUT.intext {
	BORDER-BOTTOM: #cdcdcf 1px solid; BORDER-LEFT: #cdcdcf 1px solid; TEXT-INDENT: 5px; WIDTH: 120px; HEIGHT: 17px; MARGIN-LEFT: 12px; BORDER-TOP: #cdcdcf 1px solid; BORDER-RIGHT: #cdcdcf 1px solid; PADDING-TOP: 4px
}
.subfootb P INPUT.btn_so {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; WIDTH: 49px; BACKGROUND-POSITION: -132px -529px; BORDER-TOP-STYLE: none; HEIGHT: 22px; BORDER-LEFT-STYLE: none; CURSOR: pointer
}
.btn_so:hover {
	BACKGROUND-POSITION: -132px -485px
}
.subfootb H2 {
	WIDTH: 450px; BACKGROUND-POSITION: 0px 0px; FLOAT: left; HEIGHT: 47px; MARGIN-LEFT: 10px; MARGIN-RIGHT: 100px; _margin-right: 60px
}
.subfootb H2 A {
	TEXT-INDENT: -9999em; DISPLAY: block; HEIGHT: 45px
}
.btn_gotop {
	BORDER-BOTTOM-STYLE: none !important; BORDER-RIGHT-STYLE: none !important; WIDTH: 89px; BORDER-TOP-STYLE: none !important; BACKGROUND: url(http://i1.sinaimg.cn/qc/xiwenxin/0927tu/sub.png) no-repeat -117px -47px; HEIGHT: 22px; MARGIN-LEFT: 20px; BORDER-LEFT-STYLE: none !important; CURSOR: pointer; _margin-left: 10px
}
.subbdr_t {
	BORDER-TOP: #ddd 1px solid
}
.subfoot DIV {
	BACKGROUND: url(http://i1.sinaimg.cn/qc/xiwenxin/0927tu/sub.png) no-repeat
}
.subfoot DIV I {
	BACKGROUND: url(http://i1.sinaimg.cn/qc/xiwenxin/0927tu/sub.png) no-repeat
}
.subfoot {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; MARGIN: 10px auto 0px; ZOOM: 1; CLEAR: both; OVERFLOW: hidden; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid
}
.subfoot DIV {
	WIDTH: 118px; BACKGROUND-POSITION: 100% -47px; FLOAT: left
}
.subfoot DIV.last {
	BACKGROUND-IMAGE: none
}
.subfoot DIV STRONG A {
	LINE-HEIGHT: 30px; MARGIN: 10px 0px 0px 15px; DISPLAY: block; HEIGHT: 30px
}
.subfoot DIV STRONG A:visited {
	COLOR: #333 !important
}
.subfoot DIV I {
	WIDTH: 117px; DISPLAY: block; BACKGROUND-POSITION: 0px -47px; HEIGHT: 10px; MARGIN-LEFT: 2px; _margin-left: 1px
}
.subfoot DIV P {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.subfoot DIV P A {
	LINE-HEIGHT: 22px; DISPLAY: block; COLOR: #333 !important
}
.subfoot DIV P.first A {
	WIDTH: 57px; FLOAT: left
}
.mr0 {
	MARGIN-RIGHT: 0px !important
}
.redf00 {
	COLOR: #c00 !important
}
A.redf00 {
	COLOR: #c00 !important
}
A.redf00:hover {
	COLOR: #c00 !important
}
.ff_a {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
.ad_top {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; OVERFLOW: hidden; BORDER-TOP: #ddd 0px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 9px
}
.ad_top A {
	COLOR: #606060
}
.ad_top A:hover {
	COLOR: #c00
}
.ad_top LI {
	LINE-HEIGHT: 22px; MARGIN-BOTTOM: -2px; FLOAT: left; HEIGHT: 35px; OVERFLOW: hidden
}
.ad_top LI P {
	TEXT-ALIGN: left; MARGIN-TOP: -4px
}
.ad_top B {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; PADDING-TOP: 0px
}
.ad_top B A {
	MARGIN: 0px; COLOR: #000
}
.ad_top B A:visited {
	MARGIN: 0px; COLOR: #000
}
.ad_top LI.ad_top_li1 {
	BORDER-RIGHT: #d6d6d6 1px dashed
}
.ad_top LI.ad_top_li2 {
	BORDER-RIGHT: #d6d6d6 1px dashed
}
.ad_top_li1 {
	WIDTH: 399px
}
.ad_top_li2 {
	WIDTH: 337px
}
.ad_top_li3 {
	WIDTH: 210px
}
.ad_top_li2 A {
	MARGIN-RIGHT: 6px
}
.ad_top_li3 A {
	MARGIN-RIGHT: 6px
}
.subhead {
	POSITION: relative; HEIGHT: 45px; OVERFLOW: visible
}
.gothere SPAN {
	Z-INDEX: 9999; BORDER-BOTTOM: #fff 1px solid; POSITION: absolute; BORDER-LEFT: #fff 1px solid; LINE-HEIGHT: 30px; TEXT-INDENT: 22px; WIDTH: 95px; DISPLAY: block; BACKGROUND: url(http://i3.sinaimg.cn/qc/xiwenxin/0927tu/changecity.gif) no-repeat 2px 12px; HEIGHT: 25px; COLOR: #656565; BORDER-TOP: #fff 1px solid; TOP: 5px; CURSOR: pointer; BORDER-RIGHT: #fff 1px solid; LEFT: 240px; _line-height: 25px
}
.gothere SPAN.over {
	BORDER-BOTTOM-COLOR: #f7f7f7; BACKGROUND-COLOR: #f7f7f7; BORDER-TOP-COLOR: #ccc; BORDER-RIGHT-COLOR: #ccc; BORDER-LEFT-COLOR: #ccc
}
.gotocitys {
	Z-INDEX: 98; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; BORDER-LEFT: #ccc 1px solid; BACKGROUND-COLOR: #f7f7f7; WIDTH: 798px; DISPLAY: none; HEIGHT: 60px; BORDER-TOP: #ccc 1px solid; TOP: 31px; FONT-WEIGHT: normal; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px; LEFT: 150px
}
DIV.gotocitys A {
	LINE-HEIGHT: 20px; TEXT-INDENT: 10px; WIDTH: 46px; DISPLAY: block; FLOAT: left; HEIGHT: 20px
}
.typesout {
	BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/photo_bg_nav.jpg) no-repeat 0px -40px; HEIGHT: 40px; CLEAR: both; OVERFLOW: hidden
}
.typesoin {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; PADDING-TOP: 9px
}
.searchkey {
	WIDTH: 153px; DISPLAY: block; FLOAT: left; HEIGHT: 25px
}
.typesoin INPUT {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 22px; FLOAT: left; HEIGHT: 22px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.typesoin SELECT {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 22px; FLOAT: left; HEIGHT: 22px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.typesoin INPUT.text {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 15px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; HEIGHT: 19px; COLOR: #333; PADDING-TOP: 2px
}
.topbarbtx1 {
	WIDTH: 125px
}
.topbarbt1s {
	WIDTH: 95px
}
.typesoin SELECT {
	HEIGHT: 23px; COLOR: #333
}
INPUT.submit_wd1 {
	BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px 8px 0px 2px; WIDTH: 49px; BACKGROUND-POSITION: -132px -529px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 22px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer
}
INPUT.submit_wd1:hover {
	BACKGROUND-POSITION: -132px -485px
}
INPUT.submit_cbj {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; MARGIN: 0px 8px 0px 2px; WIDTH: 60px; BACKGROUND-POSITION: -300px -551px; BORDER-TOP-STYLE: none; HEIGHT: 22px; BORDER-LEFT-STYLE: none; CURSOR: pointer
}
INPUT.submit_cbj:hover {
	BACKGROUND-POSITION: -300px -572px
}
.select-cat-s1 {
	WIDTH: 58px; MARGIN-LEFT: 3px
}
.select-cat-s22 {
	WIDTH: 92px
}
.select-cat-s32 {
	WIDTH: 82px; MARGIN-LEFT: 3px
}
.select-cat-s4 {
	WIDTH: 98px
}
.select-cat-s5 {
	WIDTH: 95px; MARGIN-LEFT: 3px
}
.typesoin INPUT.submit_wd1 {
	BACKGROUND: url(http://i0.sinaimg.cn/qc/xiwenxin/0927tu/h_norepeat.png) no-repeat
}
.subhead DIV H2 A {
	BACKGROUND: url(http://i0.sinaimg.cn/qc/xiwenxin/0927tu/h_norepeat.png) no-repeat
}
.navkso P INPUT.btn_so {
	BACKGROUND: url(http://i0.sinaimg.cn/qc/xiwenxin/0927tu/h_norepeat.png) no-repeat
}
.btn_so:hover {
	BACKGROUND: url(http://i0.sinaimg.cn/qc/xiwenxin/0927tu/h_norepeat.png) no-repeat
}
INPUT.submit_cbj {
	BACKGROUND: url(http://i0.sinaimg.cn/qc/xiwenxin/0927tu/h_norepeat.png) no-repeat
}
INPUT.submit_cbj:hover {
	BACKGROUND: url(http://i0.sinaimg.cn/qc/xiwenxin/0927tu/h_norepeat.png) no-repeat
}
.subhead DIV STRONG {
	BACKGROUND: url(http://i2.sinaimg.cn/qc/deco/2009/0930/subnav.png) no-repeat
}
.subnav DIV.navs A {
	BACKGROUND: url(http://i2.sinaimg.cn/qc/deco/2009/0930/subnav.png) no-repeat
}
.subnav DIV.navs A:hover {
	BACKGROUND: url(http://i2.sinaimg.cn/qc/deco/2009/0930/subnav.png) no-repeat
}
.tpsptab H3 {
	BACKGROUND: url(http://i3.sinaimg.cn/qc/xiwenxin/0927tu/tab_bg_gc.png) no-repeat
}
.tpsptab H3 A.current {
	BACKGROUND: url(http://i3.sinaimg.cn/qc/xiwenxin/0927tu/tab_bg_gc.png) no-repeat
}
.tabci1 {
	BACKGROUND: url(http://i3.sinaimg.cn/qc/xiwenxin/0927tu/tab_bg_gc.png) no-repeat
}
.tabci1 SPAN.current {
	BACKGROUND: url(http://i3.sinaimg.cn/qc/xiwenxin/0927tu/tab_bg_gc.png) no-repeat
}
.btn_escss {
	BACKGROUND: url(http://i3.sinaimg.cn/qc/xiwenxin/0927tu/tab_bg_gc.png) no-repeat
}
.jdpower H3 {
	BACKGROUND: url(http://i3.sinaimg.cn/qc/xiwenxin/0927tu/tab_bg_gc.png) no-repeat
}
.subhead {
	MARGIN-TOP: 10px; CLEAR: both
}
.subhead DIV.logo {
	MARGIN-TOP: 5px; WIDTH: 260px; DISPLAY: block; FLOAT: left; HEIGHT: 33px
}
.subhead DIV.logo H2 {
	DISPLAY: inline
}
.subhead DIV.logo H2 A {
	TEXT-INDENT: -9999em; WIDTH: 130px; DISPLAY: block; BACKGROUND-POSITION: -217px 0px; FLOAT: left; HEIGHT: 33px
}
.subhead DIV.logo STRONG.tk {
	MARGIN: 5px 0px 0px 8px; WIDTH: 90px; DISPLAY: block; FLOAT: left; HEIGHT: 20px
}
.photonavkeys {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 35px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/photo_bg_nav.jpg) no-repeat 0px 0px; HEIGHT: 40px; PADDING-TOP: 0px
}
.navkso P {
	PADDING-TOP: 4px
}
.navkso SPAN {
	LINE-HEIGHT: 24px; PADDING-RIGHT: 10px; COLOR: #706e6f; MARGIN-LEFT: 10px
}
.navkso SPAN A {
	COLOR: #706e6f; MARGIN-RIGHT: 8px
}
.mnav {
	WIDTH: 420px; BACKGROUND: url(http://i2.sinaimg.cn/qc/xiwenxin/0927tu/top_nav.png) no-repeat 0px 0px; FLOAT: right; HEIGHT: 42px
}
.mnav A {
	TEXT-ALIGN: center; WIDTH: 60px; FLOAT: left; HEIGHT: 40px
}
.mnav A:visited {
	COLOR: #333
}
.mnav A:visited STRONG {
	COLOR: #333
}
.mnav A:hover {
	COLOR: #c00
}
.mnav A:hover STRONG {
	COLOR: #c00
}
.mnav A STRONG {
	DISPLAY: block; FONT-WEIGHT: normal; PADDING-TOP: 28px
}
.fl {
	FLOAT: left
}
.photonavkeys A.index {
	LINE-HEIGHT: 40px; WIDTH: 86px; DISPLAY: block; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/index.png) no-repeat center center; HEIGHT: 40px
}
.photonavkeys UL LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 40px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; FLOAT: left; HEIGHT: 40px; PADDING-TOP: 0px
}
.photonavkeys UL LI A {
	COLOR: #fff
}
.photonavkeys UL LI A:hover {
	COLOR: #ff0
}
.photonavkeys UL LI.mi {
	BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/ge_photonav.gif) no-repeat center center
}
.photonavkeys UL LI A.on {
	COLOR: #ff0; FONT-WEIGHT: bold
}
.photonavkeys UL LI.hot {
	BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/icon_hot.gif) no-repeat 97% 3px
}
.nav {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; CLEAR: both; PADDING-TOP: 10px
}
.ph_menu {
	PADDING-LEFT: 200px; MARGIN-BOTTOM: 10px; BACKGROUND: url(../images/css/photo_bg_menu.png) no-repeat 0px 0px; HEIGHT: 41px
}
.ph_menu A:link {
	TEXT-ALIGN: center; LINE-HEIGHT: 36px; MARGIN: 5px 0px 0px 5px; WIDTH: 119px; DISPLAY: block; FONT-FAMILY: "微软雅黑"; BACKGROUND: url(../images/css/photo_bg_menubtn.png) no-repeat 0px 0px; FLOAT: left; HEIGHT: 36px; COLOR: #fff; FONT-SIZE: 16px; FONT-WEIGHT: bold; text-shadow: 1px 1px 3px #213b61
}
.ph_menu A:visited {
	TEXT-ALIGN: center; LINE-HEIGHT: 36px; MARGIN: 5px 0px 0px 5px; WIDTH: 119px; DISPLAY: block; FONT-FAMILY: "微软雅黑"; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/photo_bg_menubtn.png) no-repeat 0px 0px; FLOAT: left; HEIGHT: 36px; COLOR: #fff; FONT-SIZE: 16px; FONT-WEIGHT: bold; text-shadow: 1px 1px 3px #213b61
}
.ph_menu A:hover {
	BACKGROUND-POSITION: 0px -36px; COLOR: #213b61; TEXT-DECORATION: none !important; text-shadow: 1px 1px 1px #ecf6ff
}
.ph_menu A.current {
	BACKGROUND-POSITION: 0px -36px; COLOR: #213b61; TEXT-DECORATION: none !important; text-shadow: 1px 1px 1px #ecf6ff
}
.ph_l {
	POSITION: relative; WIDTH: 190px; FLOAT: left
}
#fly {
	POSITION: relative; WIDTH: 190px; HEIGHT: 600px
}
#nfly {
	POSITION: relative; WIDTH: 190px
}
.ph_r {
	WIDTH: 750px; FLOAT: right
}
.aTitle {
	POSITION: relative; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; ZOOM: 1; MARGIN-BOTTOM: 10px; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/bg_aTitle.png) no-repeat 0px 0px; HEIGHT: 30px; COLOR: #999; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 0px
}
.aTitle H1 {
	DISPLAY: inline; FONT-FAMILY: 微软雅黑; COLOR: #274d72; FONT-SIZE: 18px; MARGIN-RIGHT: 8px
}
.aTitle H2 {
	DISPLAY: inline; FONT-FAMILY: 微软雅黑; COLOR: #274d72; FONT-SIZE: 18px; MARGIN-RIGHT: 8px
}
.bTitle H3 {
	DISPLAY: inline; FONT-FAMILY: 微软雅黑; COLOR: #274d72; FONT-SIZE: 18px; MARGIN-RIGHT: 8px
}
.bTitle H3 A {
	COLOR: #274d72
}
.aTitle SPAN {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #c00
}
.bTitle SPAN {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #c00
}
.typeimg UL LI SPAN {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #c00
}
.lisnav A SPAN {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #c00
}
.bTitle {
	BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/bg_titles.png) repeat-x
}
.bTitle I {
	BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/bg_titles.png) repeat-x
}
.bTitle {
	LINE-HEIGHT: 31px; ZOOM: 1; BACKGROUND-POSITION: 0px -91px; MARGIN-BOTTOM: 10px; HEIGHT: 31px; COLOR: #999; CLEAR: both; OVERFLOW: hidden
}
.bTitle I {
	WIDTH: 22px; DISPLAY: block; BACKGROUND-POSITION: 0px -60px; FLOAT: left; HEIGHT: 31px
}
.bTitle I.r {
	WIDTH: 60px; BACKGROUND-POSITION: 100% -60px; FLOAT: right
}
.bTitle H3 {
	MARGIN: 0px 6px; FONT-SIZE: 15px
}
.set {
	TEXT-ALIGN: center; MARGIN: 0px 10px 10px 0px; WIDTH: 180px; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/bg_block2.png) no-repeat 0px 0px; FLOAT: left; HEIGHT: 215px
}
.set_m {
	TEXT-ALIGN: center; MARGIN: 0px 10px 10px 0px; WIDTH: 180px; BACKGROUND: url(../images/css/bg_block2.png) no-repeat 0px -488px; FLOAT: left; HEIGHT: 185px
}
.set A {
	COLOR: #274d72
}
.hlist A {
	COLOR: #274d72
}
.shicherlist UL LI A {
	COLOR: #274d72
}
.shichead H3 A {
	COLOR: #274d72
}
.set A:hover {
	COLOR: #c00
}
.hlist A:hover {
	COLOR: #c00
}
.shicherlist UL LI A:hover {
	COLOR: #c00
}
.set A IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; MARGIN-TOP: 15px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.single A IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; MARGIN-TOP: 15px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.soimgs DIV P A IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; MARGIN-TOP: 15px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.set A:hover IMG {
	BORDER-BOTTOM-COLOR: #c00; BORDER-TOP-COLOR: #c00; BORDER-RIGHT-COLOR: #c00; BORDER-LEFT-COLOR: #c00
}
.single A:hover IMG {
	BORDER-BOTTOM-COLOR: #c00; BORDER-TOP-COLOR: #c00; BORDER-RIGHT-COLOR: #c00; BORDER-LEFT-COLOR: #c00
}
.soimgs DIV P A:hover IMG {
	BORDER-BOTTOM-COLOR: #c00; BORDER-TOP-COLOR: #c00; BORDER-RIGHT-COLOR: #c00; BORDER-LEFT-COLOR: #c00
}
.shicherlist UL LI A:hover IMG {
	BORDER-BOTTOM-COLOR: #c00; BORDER-TOP-COLOR: #c00; BORDER-RIGHT-COLOR: #c00; BORDER-LEFT-COLOR: #c00
}
.set P {
	LINE-HEIGHT: 26px; MARGIN: 0px auto; WIDTH: 146px; TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.twoline P {
	LINE-HEIGHT: 16px; TEXT-OVERFLOW: ellipsis; WHITE-SPACE: normal; HEIGHT: 32px; OVERFLOW: hidden; PADDING-TOP: 3px
}
.set SPAN {
	LINE-HEIGHT: 18px; MARGIN: auto; WIDTH: 146px; DISPLAY: block; COLOR: #999; BORDER-TOP: #e3e3e3 1px solid; PADDING-TOP: 18px
}
.set SPAN STRONG {
	DISPLAY: block; FONT-WEIGHT: normal
}
.set B {
	COLOR: #c00; FONT-WEIGHT: normal
}
.setb A B {
	COLOR: #c00; FONT-WEIGHT: normal
}
.set P A B {
	COLOR: #c00; FONT-WEIGHT: normal
}
.shicherlist UL LI B {
	COLOR: #c00; FONT-WEIGHT: normal
}
.set EM {
	LINE-HEIGHT: 18px; COLOR: #999; FONT-WEIGHT: normal
}
.hover {
	BACKGROUND-POSITION: -180px 0px
}
.set_mup {
	BACKGROUND-POSITION: -180px -488px
}
.carsc DIV.set EM {
	TEXT-ALIGN: left; MARGIN: auto; WIDTH: 145px; DISPLAY: block
}
.carsc DIV.set EM A {
	FLOAT: right
}
.hTitle {
	BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/bg_titles2.png) no-repeat 0px 0px; HEIGHT: 40px
}
.hTitle P {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 690px; PADDING-RIGHT: 0px; PADDING-TOP: 20px
}
.hContent {
	BORDER-BOTTOM: #e3e3e3 0px solid; BORDER-LEFT: #e3e3e3 1px solid; BORDER-TOP: #e3e3e3 0px solid; BORDER-RIGHT: #e3e3e3 1px solid
}
.hshow {
	BORDER-BOTTOM: #e3e3e3 0px solid; BORDER-LEFT: #e3e3e3 1px solid; BORDER-TOP: #e3e3e3 0px solid; BORDER-RIGHT: #e3e3e3 1px solid
}
.htop {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.had {
	Z-INDEX: 9; BORDER-BOTTOM: #e3e3e3 2px solid; POSITION: relative; BORDER-LEFT: #e3e3e3 2px solid; WIDTH: 352px; FLOAT: left; HEIGHT: 265px; OVERFLOW: hidden; BORDER-TOP: #e3e3e3 2px solid; BORDER-RIGHT: #e3e3e3 2px solid
}
.had DIV {
	Z-INDEX: 99; POSITION: absolute; FILTER: alpha(opacity=90); LINE-HEIGHT: 30px; BACKGROUND-COLOR: #000; WIDTH: 352px; BOTTOM: 0px; HEIGHT: 30px; OVERFLOW: hidden; LEFT: 0px; -moz-opacity: 0.9; opacity: 0.9
}
.had DIV A {
	LINE-HEIGHT: 30px; TEXT-INDENT: 5px; DISPLAY: block; COLOR: #fff !important; FONT-SIZE: 14px
}
.had SPAN {
	Z-INDEX: 999; POSITION: absolute; WIDTH: 85px; BOTTOM: 0px; DISPLAY: block; HEIGHT: 30px; COLOR: #1d76f6; RIGHT: 0px
}
.had SPAN I {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; BACKGROUND-COLOR: #000; WIDTH: 16px; FLOAT: left; HEIGHT: 30px; CURSOR: pointer
}
.had SPAN I.current {
	BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/photo_dots.png) no-repeat 4px 26px; COLOR: #fff
}
.hlist {
	WIDTH: 155px; FLOAT: left; MARGIN-LEFT: 25px
}
.setb {
	TEXT-ALIGN: center; WIDTH: 152px; HEIGHT: 140px
}
.setb A {
	TEXT-ALIGN: center; PADDING-BOTTOM: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/bg_block.png) no-repeat 0px -375px; PADDING-TOP: 6px
}
.setb A IMG {
	MARGIN: 0px auto 8px; DISPLAY: block
}
.setb A {
	TEXT-DECORATION: none
}
.setb A STRONG {
	FONT-WEIGHT: normal
}
.setb A:hover {
	BACKGROUND-POSITION: -152px -375px
}
.hlist UL LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-LEFT: 13px; TEXT-OVERFLOW: ellipsis; PADDING-RIGHT: 5px; WHITE-SPACE: nowrap; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/photo_dots.png) no-repeat 3px -18px; HEIGHT: 22px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.hshow {
	BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/title_hshow.png) #edf3fd no-repeat 10px 6px; PADDING-TOP: 35px
}
.hshow DIV.setb {
	FLOAT: left; MARGIN-LEFT: 28px; _margin-left: 20px
}
.hbottom {
	PADDING-BOTTOM: 10px; MARGIN-BOTTOM: 10px; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/bg_titles2.png) #edf3fd no-repeat 0px 100%
}
.sTitle {
	ZOOM: 1; HEIGHT: 26px; CLEAR: both; OVERFLOW: hidden
}
.sTitle STRONG {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; WIDTH: 74px; DISPLAY: block; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/photo_dots.png) no-repeat 0px -171px; HEIGHT: 26px; COLOR: #fff
}
.single {
	MARGIN: 0px 10px 10px 0px; WIDTH: 180px; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/bg_block2.png) no-repeat 0px -215px; FLOAT: left; HEIGHT: 160px; OVERFLOW: hidden
}
.single A {
	TEXT-ALIGN: center; MARGIN: auto; WIDTH: 13em; TEXT-OVERFLOW: ellipsis; DISPLAY: block; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.single A IMG {
	MARGIN: 15px auto 7px; DISPLAY: block
}
.sighover {
	BACKGROUND-POSITION: -180px -215px
}
.r_no {
	MARGIN-RIGHT: 0px !important
}
.soimgs {
	BACKGROUND-COLOR: #edf3fd; MARGIN: -10px 0px 10px
}
.soimgs DIV {
	PADDING-BOTTOM: 15px; WIDTH: 24.9%; FLOAT: left
}
.soimgs DIV H4 {
	LINE-HEIGHT: 30px; MARGIN: 0px auto; WIDTH: 148px
}
.soimgs DIV P {
	LINE-HEIGHT: 30px; MARGIN: 0px auto; WIDTH: 148px
}
.soimgs DIV UL {
	LINE-HEIGHT: 30px; MARGIN: 0px auto; WIDTH: 148px
}
.soimgs DIV H4 {
	HEIGHT: 30px
}
.soimgs DIV H4 STRONG {
	PADDING-RIGHT: 10px; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/photo_dots.png) no-repeat 100% 100%; COLOR: #274d72; FONT-SIZE: 14px
}
.soimgs DIV P {
	TEXT-ALIGN: center; TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.soimgs DIV P A IMG {
	MARGIN-TOP: 0px; DISPLAY: block
}
.soimgs DIV UL LI {
	LINE-HEIGHT: 22px; PADDING-LEFT: 1em; WIDTH: 12em; TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/photo_dots.png) no-repeat 0px -18px; HEIGHT: 22px; OVERFLOW: hidden
}
.morebtn {
	TEXT-ALIGN: center; LINE-HEIGHT: 17px; WIDTH: 50px; DISPLAY: block; FONT-FAMILY: "宋体"; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/photo_dots.png) no-repeat 0px -154px; HEIGHT: 17px; COLOR: #fff !important
}
.morebtnfr {
	TEXT-ALIGN: center; LINE-HEIGHT: 17px; WIDTH: 50px; DISPLAY: block; FONT-FAMILY: "宋体"; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/photo_dots.png) no-repeat 0px -154px; HEIGHT: 17px; COLOR: #fff !important
}
.morebtnfr {
	MARGIN-TOP: 8px
}
.aTitle DIV {
	POSITION: absolute; HEIGHT: 20px; TOP: 5px; RIGHT: 5px
}
.aTitle DIV A {
	MARGIN: 0px 2px; PADDING-LEFT: 10px; DISPLAY: block; FLOAT: left; TEXT-DECORATION: none !important
}
.aTitle DIV A STRONG {
	LINE-HEIGHT: 20px; PADDING-RIGHT: 10px; DISPLAY: block; FLOAT: left; HEIGHT: 20px; COLOR: #274d72; FONT-SIZE: 14px; CURSOR: pointer; FONT-WEIGHT: normal
}
.aTitle DIV A:hover {
	BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/photo_dots.png) no-repeat 0px -50px
}
.aTitle DIV A.on {
	BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/photo_dots.png) no-repeat 0px -50px
}
.aTitle DIV A:hover STRONG {
	BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/photo_dots.png) no-repeat 100% -50px; COLOR: #fff !important
}
.aTitle DIV A.on STRONG {
	BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/photo_dots.png) no-repeat 100% -50px; COLOR: #fff !important
}
.typeimg {
	PADDING-BOTTOM: 10px; MARGIN-TOP: -10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/typeimg_dot.gif) #f8f8f8 repeat-y center 10px; PADDING-TOP: 10px
}
.typeimg UL LI {
	LINE-HEIGHT: 25px; TEXT-INDENT: 25px; WIDTH: 33.3%; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/photo_dots.png) no-repeat 15px -15px; FLOAT: left; HEIGHT: 25px
}
.typeimg UL LI.btn {
	BACKGROUND-IMAGE: none
}
.typeimg UL LI.btn A {
	LINE-HEIGHT: 20px; TEXT-INDENT: 25px; MARGIN: 5px 0px 0px 20px; WIDTH: 83px; DISPLAY: block; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/photo_dots.png) no-repeat 0px -200px; HEIGHT: 20px
}
.typeimg UL LI A {
	COLOR: #213b61
}
.typeimg UL LI A:hover {
	COLOR: #c00
}
.lisnav {
	MARGIN: 10px 0px 5px; WIDTH: 750px; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/photo_dots.png) repeat-x 0px -112px; HEIGHT: 42px; OVERFLOW: hidden
}
.lisnav A {
	TEXT-ALIGN: center; LINE-HEIGHT: 14px; WIDTH: 75px; DISPLAY: block; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/photo_dots.png) no-repeat 100% -222px; FLOAT: left; HEIGHT: 42px; COLOR: #213b61 !important; TEXT-DECORATION: none !important
}
.lisnav A STRONG {
	DISPLAY: block; FONT-WEIGHT: normal; PADDING-TOP: 4px
}
.lisnav A:hover STRONG {
	FONT-WEIGHT: bold
}
.lisnav A SPAN {
	DISPLAY: block
}
.lisnav A.on {
	BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/photo_dots.png) no-repeat center -70px; COLOR: #fff !important
}
.lisnav A.on SPAN {
	COLOR: #fff; FONT-WEIGHT: bold
}
.lisnav A.on STRONG {
	COLOR: #fff; FONT-WEIGHT: bold
}
A.tdn {
	TEXT-DECORATION: none !important
}
.morepage {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; CLEAR: both; PADDING-TOP: 10px
}
.morepage A {
	BORDER-BOTTOM: #becde5 1px solid; BORDER-LEFT: #becde5 1px solid; PADDING-BOTTOM: 3px; MARGIN: auto 3px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; COLOR: #4d69b3; BORDER-TOP: #becde5 1px solid; BORDER-RIGHT: #becde5 1px solid; PADDING-TOP: 3px
}
.morepage A:hover {
	BACKGROUND-COLOR: #becde5; COLOR: #fff; TEXT-DECORATION: none
}
.morepage A.current {
	BACKGROUND-COLOR: #becde5; COLOR: #fff; TEXT-DECORATION: none
}
.none {
	DISPLAY: none
}
.shicherlist DIV.bTitle {
	MARGIN-BOTTOM: 0px
}
.moranklist DIV.bTitle {
	MARGIN-BOTTOM: 0px
}
.shicherlist {
	WIDTH: 250px; FLOAT: right; HEIGHT: 338px
}
.moranklist {
	WIDTH: 250px; FLOAT: right; HEIGHT: 338px
}
.shicherlist UL {
	BORDER-BOTTOM: #e3e3e3 1px solid; BORDER-LEFT: #e3e3e3 1px solid; HEIGHT: 306px; BORDER-TOP: #e3e3e3 1px; BORDER-RIGHT: #e3e3e3 1px solid
}
.molist {
	BORDER-BOTTOM: #e3e3e3 1px solid; BORDER-LEFT: #e3e3e3 1px solid; HEIGHT: 306px; BORDER-TOP: #e3e3e3 1px; BORDER-RIGHT: #e3e3e3 1px solid
}
.shicherlist UL LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; ZOOM: 1; COLOR: #999; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 8px
}
.shicherlist UL LI A IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FLOAT: left; BORDER-TOP: #ccc 1px solid; MARGIN-RIGHT: 8px; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.molist DIV A IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FLOAT: left; BORDER-TOP: #ccc 1px solid; MARGIN-RIGHT: 8px; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.chezhan UL LI A IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FLOAT: left; BORDER-TOP: #ccc 1px solid; MARGIN-RIGHT: 8px; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.shicherlist UL LI A {
	LINE-HEIGHT: 18px; FONT-SIZE: 13px
}
.shichead {
	BORDER-BOTTOM: #d2deee 1px solid; POSITION: relative; BORDER-LEFT: #d2deee 1px solid; BACKGROUND-COLOR: #eff3f9; WIDTH: 488px; MARGIN-BOTTOM: 10px; FLOAT: left; HEIGHT: 336px; BORDER-TOP: #d2deee 1px solid; BORDER-RIGHT: #d2deee 1px solid
}
.shichead DIV {
	BORDER-BOTTOM: #707070 1px solid; BORDER-LEFT: #707070 1px solid; MARGIN: 6px auto 0px; WIDTH: 474px; HEIGHT: 296px; OVERFLOW: hidden; BORDER-TOP: #707070 1px solid; BORDER-RIGHT: #707070 1px solid
}
.shichead H3 {
	TEXT-ALIGN: center; FONT-SIZE: 13px; FONT-WEIGHT: normal; PADDING-TOP: 8px
}
.shichead P {
	POSITION: absolute; WIDTH: 160px; BOTTOM: 32px; HEIGHT: 16px; RIGHT: 0px
}
.shichead P I {
	BACKGROUND: url(http://i0.sinaimg.cn/qc/xiwenxin/0927tu/h_norepeat.png) no-repeat
}
.shichead P I INS {
	BACKGROUND: url(http://i0.sinaimg.cn/qc/xiwenxin/0927tu/h_norepeat.png) no-repeat
}
.shichead P I {
	POSITION: relative; TEXT-ALIGN: center; LINE-HEIGHT: 16px; WIDTH: 43px; DISPLAY: block; FONT-FAMILY: Tahoma, Geneva, sans-serif; BACKGROUND-POSITION: -318px -179px; FLOAT: left; HEIGHT: 16px; COLOR: #fff; MARGIN-LEFT: -13px; FONT-SIZE: 10px; CURSOR: pointer
}
.shichead P I.current {
	BACKGROUND-POSITION: -318px -195px; COLOR: #000
}
.shichead P I INS {
	POSITION: absolute; WIDTH: 20px; DISPLAY: block; BACKGROUND-POSITION: -219px -229px; HEIGHT: 14px; TOP: 2px; LEFT: -5px
}
.shichead P I.current INS {
	WIDTH: 22px; BACKGROUND-POSITION: -216px -244px; HEIGHT: 16px; TOP: 1px; LEFT: -7px
}
.morank {
	POSITION: relative
}
.morank P {
	POSITION: absolute; WIDTH: 140px; BOTTOM: -1px; DISPLAY: block; HEIGHT: 28px; RIGHT: 0px; _bottom: -2px
}
.morank P EM {
	BORDER-BOTTOM: #347ec0 2px solid; TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 34px; DISPLAY: block; FLOAT: left; HEIGHT: 25px; COLOR: #000; CURSOR: pointer
}
.morank P EM.current {
	BORDER-BOTTOM: #fff 2px solid; BORDER-LEFT: #347ec0 1px solid; LINE-HEIGHT: 24px; BACKGROUND-COLOR: #fff; WIDTH: 32px; BORDER-TOP: #347ec0 1px solid; BORDER-RIGHT: #347ec0 1px solid
}
.molist {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 0px
}
.molist UL LI {
	BORDER-BOTTOM: #ddd 1px dotted; ZOOM: 1; CLEAR: both; OVERFLOW: hidden
}
.molist DIV {
	BORDER-BOTTOM: #ddd 1px dotted; ZOOM: 1; CLEAR: both; OVERFLOW: hidden
}
.molist UL LI {
	LINE-HEIGHT: 24px
}
.molist UL LI.last {
	BORDER-BOTTOM-STYLE: none
}
.molist DIV {
	PADDING-BOTTOM: 7px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 7px
}
.molist DIV SPAN {
	TEXT-ALIGN: right; LINE-HEIGHT: 15px; PADDING-RIGHT: 2px; DISPLAY: block; MARGIN-BOTTOM: 8px; HEIGHT: 15px; COLOR: #999
}
.molist DIV SPAN I {
	WIDTH: 17px; DISPLAY: block; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/ranktk.png) no-repeat 0px 0px; FLOAT: left; HEIGHT: 15px
}
.molist UL LI SPAN {
	FLOAT: right; COLOR: #999; MARGIN-RIGHT: 2px
}
.molist UL LI I {
	MARGIN: 4px 10px 0px 0px; WIDTH: 17px; DISPLAY: block; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/ranktk.png) no-repeat 0px 0px; FLOAT: left; HEIGHT: 15px
}
.molist UL LI A {
	COLOR: #274d72
}
.molist DIV A {
	COLOR: #274d72
}
.chezhan UL LI A {
	COLOR: #274d72
}
.czTitle A {
	COLOR: #274d72
}
.molist UL LI.mo2 I {
	BACKGROUND-POSITION: 0px -15px
}
.molist UL LI.mo3 I {
	BACKGROUND-POSITION: 0px -30px
}
.molist UL LI.mo4 I {
	BACKGROUND-POSITION: 0px -45px
}
.molist UL LI.mo5 I {
	BACKGROUND-POSITION: 0px -60px
}
.molist UL LI.mo6 I {
	BACKGROUND-POSITION: 0px -75px
}
.molist UL LI.mo7 I {
	BACKGROUND-POSITION: 0px -90px
}
.molist UL LI.mo8 I {
	BACKGROUND-POSITION: 0px -105px
}
.molist UL LI.mo9 I {
	BACKGROUND-POSITION: 0px -120px
}
.molist UL LI.mo10 I {
	BACKGROUND-POSITION: 0px -135px
}
.moMenu {
	BORDER-BOTTOM: #d9dcdd 1px solid; BORDER-LEFT: #d9dcdd 1px solid; BORDER-TOP: #d9dcdd 1px solid; BORDER-RIGHT: #d9dcdd 1px solid
}
.moMenu UL LI {
	LINE-HEIGHT: 26px; ZOOM: 1; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/tuku2icon.png) repeat-x 0px 0px; HEIGHT: 26px; CLEAR: both; FONT-SIZE: 14px; OVERFLOW: hidden
}
.moMenu DL DT {
	LINE-HEIGHT: 26px; ZOOM: 1; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/tuku2icon.png) repeat-x 0px 0px; HEIGHT: 26px; CLEAR: both; FONT-SIZE: 14px; OVERFLOW: hidden
}
.moMenu UL LI A {
	DISPLAY: block; COLOR: #274d72; CURSOR: pointer
}
.moMenu DL DT SPAN {
	DISPLAY: block; COLOR: #274d72; CURSOR: pointer
}
.moMenu DL DD A {
	DISPLAY: block; COLOR: #274d72; CURSOR: pointer
}
.moMenu UL LI I {
	MARGIN: 9px 9px 0px; WIDTH: 5px; DISPLAY: block; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/tuku2icon.png) no-repeat 0px -32px; FLOAT: left; HEIGHT: 9px
}
.moMenu DL DT I {
	MARGIN: 9px 9px 0px; WIDTH: 5px; DISPLAY: block; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/tuku2icon.png) no-repeat 0px -32px; FLOAT: left; HEIGHT: 9px
}
.moMenu DL DD I {
	MARGIN: 9px 9px 0px; WIDTH: 5px; DISPLAY: block; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/tuku2icon.png) no-repeat 0px -32px; FLOAT: left; HEIGHT: 9px
}
.moMenu DL DT I {
	MARGIN: 9px 7px 0px; WIDTH: 9px; BACKGROUND-POSITION: -14px -32px; HEIGHT: 9px
}
.moMenu DL DT I.noo {
	BACKGROUND-POSITION: -31px -32px
}
.moMenu DL DD {
	LINE-HEIGHT: 27px; HEIGHT: 27px; CLEAR: both
}
.moMenu DL DD I {
	MARGIN: 4px 6px 0px 20px; WIDTH: 11px; BACKGROUND-POSITION: 0px -48px; HEIGHT: 19px
}
.moMenu DL DD A:hover {
	BACKGROUND-COLOR: #edf3fd
}
.chezhan H3 {
	BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/bg_titles3.png) no-repeat 0px 0px; HEIGHT: 37px
}
.chezhan UL {
	BORDER-BOTTOM: #e3e3e3 1px solid; BORDER-LEFT: #e3e3e3 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 10px; BORDER-TOP: #e3e3e3 1px; BORDER-RIGHT: #e3e3e3 1px solid; PADDING-TOP: 10px
}
.chezhan UL LI {
	PADDING-BOTTOM: 6px; LINE-HEIGHT: 22px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 6px
}
.chezhan UL LI H4 A {
	FONT-SIZE: 14px; FONT-WEIGHT: normal
}
.chezhan UL LI P {
	TEXT-INDENT: 2em; COLOR: #999
}
.czTitle {
	PADDING-BOTTOM: 10px; FONT-SIZE: 14px; FONT-WEIGHT: normal
}
.czTitle A {
	PADDING-RIGHT: 10px; BACKGROUND: url(http://www.sinaimg.cn/qc/photoauto/images/tuku2icon.png) no-repeat 100% -80px
}
.community DIV.set SPAN {
	TEXT-ALIGN: left; PADDING-TOP: 1px
}
.forum DIV.set SPAN {
	TEXT-ALIGN: left; PADDING-TOP: 10px
}
.fixImg {
	TEXT-ALIGN: center
}
.fixImg A IMG {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
.fixImg {
	MARGIN: 15px auto 0px; WIDTH: 146px; HEIGHT: 110px
}
.fixImg A {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; BACKGROUND-COLOR: #fff; WIDTH: 144px; DISPLAY: block; FONT-FAMILY: Arial; HEIGHT: 104px; FONT-SIZE: 94px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.fixImg A IMG {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.fixImg A:hover {
	BORDER-BOTTOM-COLOR: #c00; BORDER-TOP-COLOR: #c00; BORDER-RIGHT-COLOR: #c00; BORDER-LEFT-COLOR: #c00
}
.atiSubitem {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; PADDING-TOP: 0px
}
.aTiCon {
	BORDER-BOTTOM: #ddd 1px solid; PADDING-BOTTOM: 10px; BACKGROUND: url(http://www.sinaimg.cn/qc/revision2/tukunjx.png) no-repeat 0px 0px
}
.atiSublist {
	ZOOM: 1; BACKGROUND: url(http://www.sinaimg.cn/qc/revision2/tugeline.gif) repeat-y 250px 0px; OVERFLOW: hidden
}
.atiSublist LI {
	LINE-HEIGHT: 25px; TEXT-INDENT: 12px; WIDTH: 33.3%; FLOAT: left
}
.atiSublist LI A:link {
	COLOR: #274d72
}
.atiSublist LI A:visited {
	COLOR: #274d72
}
.atiSubitem A:link {
	COLOR: #274d72
}
.atiSubitem A:visited {
	COLOR: #274d72
}
.atiSublist LI A I {
	COLOR: #c00; MARGIN-LEFT: 5px
}
.atiSublist LI.on {
	FONT-WEIGHT: bold
}
.atiSublist LI.stop {
	TEXT-INDENT: 35px; BACKGROUND: url(http://www.sinaimg.cn/qc/revision2/atiarrow.gif) no-repeat 20px center
}
