<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>foton</display-name>
  <context-param>
    <param-name>host</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>7001</param-value>
  </context-param>
  <context-param>
    <param-name>instance</param-name>
    <param-value>tc</param-value>
  </context-param>
  <context-param>
    <param-name>tc_user_name</param-name>
    <param-value>infodba</param-value>
  </context-param>
  <context-param>
    <param-name>tc_user_pass</param-name>
    <param-value>infodba</param-value>
  </context-param>
  <context-param>
    <param-name>web_user</param-name>
    <param-value>plm</param-value>
  </context-param>
  <context-param>
    <param-name>web_user_pass</param-name>
    <param-value>plm</param-value>
  </context-param>
  <context-param>
    <param-name>web_dba</param-name>
    <param-value>dba</param-value>
  </context-param>
  <context-param>
    <param-name>web_dba_pass</param-name>
    <param-value>dba</param-value>
  </context-param>
  <listener>
    <listener-class>foton.picture.listener.FotonContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>SessionTimeOutFilter</filter-name>
    <filter-class>foton.picture.filter.SessionTimeOutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionTimeOutFilter</filter-name>
    <servlet-name>LoginServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionTimeOutFilter</filter-name>
    <servlet-name>SearchServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionTimeOutFilter</filter-name>
    <servlet-name>PageServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionTimeOutFilter</filter-name>
    <servlet-name>DownLoadPicturesServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionTimeOutFilter</filter-name>
    <url-pattern>*.JSP</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>
			foton.picture.servlet.LoginServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>
			foton.picture.servlet.SearchServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>foton.picture.servlet.PageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/page</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownLoadPicturesServlet</display-name>
    <servlet-name>DownLoadPicturesServlet</servlet-name>
    <servlet-class>
			foton.picture.servlet.DownLoadPicturesServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadPicturesServlet</servlet-name>
    <url-pattern>/load</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoTest</display-name>
    <servlet-name>DemoTest</servlet-name>
    <servlet-class>foton.picture.servlet.DemoTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoTest</servlet-name>
    <url-pattern>/DemoTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PictureListServlet</display-name>
    <servlet-name>PictureListServlet</servlet-name>
    <servlet-class>foton.picture.servlet.PictureListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PictureListServlet</servlet-name>
    <url-pattern>/PictureListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDictServlet</display-name>
    <servlet-name>AddDictServlet</servlet-name>
    <servlet-class>foton.picture.servlet.dict.AddDictServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDictServlet</servlet-name>
    <url-pattern>/AddDictServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelDictServlet</display-name>
    <servlet-name>DelDictServlet</servlet-name>
    <servlet-class>foton.picture.servlet.dict.DelDictServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelDictServlet</servlet-name>
    <url-pattern>/DelDictServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDictServlet</display-name>
    <servlet-name>UpdateDictServlet</servlet-name>
    <servlet-class>foton.picture.servlet.dict.UpdateDictServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDictServlet</servlet-name>
    <url-pattern>/UpdateDictServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageDictServlet</display-name>
    <servlet-name>PageDictServlet</servlet-name>
    <servlet-class>foton.picture.servlet.dict.PageDictServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageDictServlet</servlet-name>
    <url-pattern>/PageDictServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchDictServlet</display-name>
    <servlet-name>SearchDictServlet</servlet-name>
    <servlet-class>foton.picture.servlet.dict.SearchDictServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchDictServlet</servlet-name>
    <url-pattern>/SearchDictServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SelectDictServlet</display-name>
    <servlet-name>SelectDictServlet</servlet-name>
    <servlet-class>foton.picture.servlet.dict.SelectDictServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDictServlet</servlet-name>
    <url-pattern>/SelectDictServlet</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>QueryDictListServlet</display-name>
    <servlet-name>QueryDictListServlet</servlet-name>
    <servlet-class>foton.picture.servlet.dict.QueryDictListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryDictListServlet</servlet-name>
    <url-pattern>/QueryDictListServlet</url-pattern>
  </servlet-mapping>
</web-app>