<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
   <extension
         point="tc.wfcf.CustomDecisionScript">
      <js
            uri="fawvw/wf/ph/PreReleasePH.js">
      </js>
   </extension>
   <extension
         point="tc.wfcf.CustomCompletionScript">
      <js
            uri="fawvw/wf/ph/PreReleasePH.js">
      </js>
   </extension>

</plugin>
